/* #8ecae6, #219ebc, #023047, #ffb703, #fb8500 */

body {
    background-color: #8ecae6;
    color: #000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
    }

.header {
    background-color: #219ebc;
    color: #023047;
}

.topmenu {
    overflow: hidden;
    background-color: #023047;
}

.topmenu a {
    float: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
}

.topmenu a:hover {
    background-color: #0a3b53;
}

.topmenu a.active {
    background-color: #023047;
}

.middlebody {
    padding-left: 16px;
}

.footer {
    background-color: #023047;
    color: #8ecae6;
}
